

<ul>
{{#each sessions}}
    {{#if endTime}}
        <li><a href="#/event/{{eventId}}/session/{{id}}/play/start" >{{date_formatted}}</a></li>
    {{else}}
        <li><a href="#/event/{{eventId}}/session/{{id}}" >{{date_formatted}}</a></li>
    {{/if}}
{{/each}}
</ul>