
<h2>{{name}}</h2>
<h5>{{date_formated}}</h5>


<ul class="nav nav-tabs">
  <li {{#if attendees_tab}}class="active"{{/if}}> <a href="#/event/{{_id}}/attendees" >Attendees</a></li>
  <li {{#if agendas_tab}}  class="active"{{/if}}> <a href="#/event/{{_id}}/agendas" >Agendas</a></li>
  <li {{#if sessions_tab}} class="active"{{/if}}> <a href="#/event/{{_id}}/sessions">Sessions</a></li>
</ul>

{{#if attendees_tab}}
<div  id="attendeesTab">
    <div class="attendees"></div>
    <div class="personAutoComplete">

        <input type="hidden" name="name" placeholder="Add Person..." class="input-xxlarge"/>
    </div>
</div>
{{/if}}

{{#if agendas_tab}}
<div id="agendaTab">
    <div class="agendas">

    </div>
    <div class="form ">
        <select type="text" name="agendaName" placeholder="Agenda Name"/>
        <button class="btn add-agenda">Create Agenda</button>
    </div>

</div>
{{/if}}

{{#if sessions_tab}}
<div  id="sessionsTab">
    <div class="sessions">

    </div>
    <a href="#/event/{{_id}}/session/new" class="btn add-session">Create Session</a>
</div>
{{/if}}

