{{#each .}}
<tr data-id="{{id}}" id="{{id}}">
  <td>{{type}}</td>
  <td><input class="simple_color" value="#{{colour}}" data-id={{id}} /> </td>
  <td>{{text}}</td>
  <td><button class="btn delete"  data-id={{id}} >x</button></td>
</tr>
{{/each}}