<table class="table striped-table">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>City</th>
      <th>Org</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{{#each rows}}
    <tr class="{{doc.tag}}">
      <td>{{doc.first_name}}</td>
      <td>{{doc.last_name}}</td>
      <td>{{doc.city}}</td>
      <td>{{doc.org}}</td>
      <td>

        <button class="btn delete hide"  data-tag={{doc.tag}} >x</button>

      </td>
    </tr>
{{/each}}
  </tbody>
</table>