<div class="entry" id="{{dom_id}}">
    {{#if show_timebar}}
        <div class="timebar">
            <span class="playhead-mini"></span>
            <span class="time" data-id="{{_id}}" title="Click to play. Drag edges to resize." style="left: {{timebar_left}}px; width: {{timebar_width}}px;"></span>
        </div>
    {{/if}}
     <label class="time">{{startTime_formated}} {{offset_formated}} </label>
     <div class="text">
         {{#if endTime}}
            <b>{{person}}</b> finished talking
         {{else}}
             <b>{{person}}</b> started talking
         {{/if}}
     </div>

</div>
