

<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#/event/{{event._id}}/sessions">{{event.name}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#/event/{{event._id}}/session/{{session.doc._id}}">{{startTime_formated}}</a>
  </li>
</ul>



<div class="row">

    <div class="span2">
        <div class="recorder"></div>
        <div class="recordingComplete">

        </div>
    </div>

    <div class="span7">


        <h4>Topics</h4>
        <div class="topics disabled">
            {{#each session.doc.agenda.items}}
                <div class="topic" data-id="{{id}}" data-colour="{{colour}}"><i class="icon-tag" style="background-color: #{{colour}}}"></i><span>{{text}}</span></div>
            {{/each}}
        </div>


        <div class="well">
            <h4>Quick Actions</h4>
            <div class="btn-toolbar">
                <div class="btn-group">
                  <button class="btn" title="Information"><i class="icon-comment"></i></button>
                  <button class="btn" title="Important Point"><i class="icon-star"></i></button>
                  <button class="btn" title="Action Item"><i class="icon-edit"></i></button>
                </div>
                <div class="btn-group">
                  <button class="btn" title="Topic Vote"><i class="icon-question-sign"></i></button>
                  <!--<button class="btn" title="Topic Split"><i class="icon-resize-full"></i></button>-->

                  <button class="btn" title="Topic Ended Resolved"><i class="icon-ok-sign"></i></button>
                  <button class="btn" title="Topic Ended Unresolved"><i class="icon-remove-sign"></i></button>
                </div>
            </div>
            <form class="tag-text" style="display: none;">
                <label class="time"><span class="date-formatted"></span> <span class="time-formatted"></span></label>
                <textarea class="input-xlarge" name="textarea" id="textarea" rows="3"></textarea>

                <button class="btn mark-save">Save</button>
                <button class="btn mark-cancel">Cancel</button>
            </form>
        </div>

        <div class="transcript" >

        </div>


    </div>
    <div class="span3">
        <h4>Who is speaking?</h4>
        <ul class="participants disabled">
            {{#each session.doc.participants_full}}
               <li class="active disabled" data-topicId="{{doc.tag}}">{{doc.first_name}} {{doc.last_name}}</li>
            {{/each}}

        </ul>
    </div>




</div>




