<div class="entry" id="{{dom_id}}" style="border-left: 5px solid #{{colour}};">
    {{#if show_timebar}}
        <div class="timebar">
            <span class="playhead-mini"></span>
            <span class="time" data-id="{{_id}}" title="Click to play. Drag edges to resize." style="left: {{timebar_left}}px; width: {{timebar_width}}px;"></span>
        </div>
    {{/if}}
    {{#if important}}
        <i class="important icon-star" rel="tooltip" title="Important" ></i>
    {{/if}}
     <label class="time">{{startTime_formated}} {{offset_formated}} </label>
     <div class="text">
         <b>[#{{sessionEventCount}}]</b> {{text}}
     </div>

</div>
