

<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#/event/{{_id}}/sessions">{{name}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    New Session
  </li>
</ul>



    <h2>New Session</h2>

    <h4>Confirm Participants</h4>
    <table class="table striped-table table-condensed attendees">
        <thead>
            <tr>
                <th></th><th>First</th><th>Last</th><th>Community</th><th>Org</th>
            </tr>
        </thead>
        <tbody>
        {{#each attendees_full}}
            <tr>
                <td><input type="checkbox" name="{{doc.tag}}" checked="checked" /></td>
                <td>{{doc.first_name}}</td>
                <td>{{doc.last_name}}</td>
                <td>{{doc.city}}</td>
                <td>{{doc.org}}</td>
        {{/each}}
        </tbody>
    </table>


    <h4>Select Agenda</h4>
    {{#each agendas_full}}
        <input type="radio" name="agenda" value="{{id}}" {{#if selected}}checked="checked"{{/if}}/> {{doc.name}} </br>
    {{/each}}
<form>
    <fieldset class="form-actions">
        <button class="btn btn-primary">Create</button>
        <button class="btn cancel">Cancel</button>
    </fieldset>

</form>
