

<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#/events/{{event._id}}/session">{{event.name}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#/events/{{event._id}}/session/{{session.doc._id}}">{{startTime_formated}}</a>
  </li>
</ul>



<h2>Session</h2>


<div class="row">

    <div class="span2">
        <div class="recorder"></div>
        <div class="recordingComplete">

        </div>
    </div>

    <div class="span7">



        <div class="topics disabled">
            {{#each session.doc.agenda.items}}
                <div class="topic" data-id="{{id}}" data-colour="{{colour}}"><i class="icon-tag" style="background-color: #{{colour}}}"></i><span>{{text}}</span></div>
            {{/each}}
        </div>

        <form class="tag-text well" style="display: none;">
            <label class="time"><span class="date-formatted"></span> <span class="time-formatted"></span></label>
            <label><i class="icon-tag"></i> #<span class="sessionEventCount"></span> </label>
            
            <textarea class="input-xlarge" name="textarea" id="textarea" rows="3"></textarea>

            <button class="btn btn-primary save-mark">Save</button>
            <a class="btn help mark-important" href="#" title="Mark as important"><i class="icon-star" ></i></a>
            
        </form>

        <div class="transcript" >

        </div>


    </div>
    <div class="span3">
        <h4>Who is speaking?</h4>
        <ul class="participants disabled">
            {{#each session.doc.participants_full}}
               <li class="active disabled" data-topicId="{{doc.tag}}">{{doc.first_name}} {{doc.last_name}}</li>
            {{/each}}

        </ul>
    </div>




</div>




